<a class="cast-member-card" href="/cast-member?id=<% cast_member.cast_id %>">
  <div class="cast-member-card__image">
    <img src="<%= 'https://image.tmdb.org/t/p/w500' + cast_member.profile_path %>" alt="<% cast_member.name %>">
  </div>
  <p class="cast-member-card__name"><%= cast_member.name %></p>
</a>
