<a class="cast-member-card" href="/cast?id=<%cast_member.cast_id">
  <div>
    <img src="<%= cast_member.profile_path %>" alt="Actors Image">
  </div>
  <p class="cast-member-card__name"><%= cast_member.name %></p>
</a>
