.flash {
  padding: 1em;
  color: white;
  border-radius: 5px;
  margin: 2em 0;
  font-weight: bold;
  text-align: center;
}

.flash--success {
  background-color: $success-color;
}

.flash--error {
  background-color: $error-color;
}
