.media-header {
  height: 700px;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.media-info {
  background-color: rgba(25,25,25, 0.8);
  position: absolute;
  bottom: 0;
  padding: 4em 0;
  width: 100%;
}
