.media-search-header {
  background-color: black;
  padding: 3em 0;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center;
  // background-image: url('/images/masthead.jpg');
}
