.nav {
  background-color: $primary-color;
  @extend .u-clearfix;

  &-header {
    @extend .u-clearfix;
    @media screen and (min-width: 700px) {
      float: left;
    }
  }

  &-list {
    // width: 70%;
    width: 400px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin-top: 77px;
    right: 0;
    background-color: darken($primary-color, 5%);
    transition-property: right;
    transition-duration: 1s;
    z-index: 1;
    @media screen and (max-width: 700px) {
      height: 100%;
      height: 100vh;
    }

    &.nav-collapse {
      right: -400px;
    }

    @media screen and (min-width: 700px) {
      background-color: $primary-color;
      position: static;
      left: auto;
      margin-top: 0;
      width: auto;
      max-width: none;
      float: right;
    }
  }

  .nav-item, &-link {
    transition: .3s;
    @media screen and (min-width: 700px) {
      display: inline-block;
      padding-left: 12px;
      .active {
        color: white;
      }
    }

    &:hover {
      color: white;
    }
  }

  .nav-item:first-child, {
    @media screen and (max-width: 700px) {
      margin: 2em 0 1em 1em;
    }
  }

  &-link {
    color: lightgray;
    font-weight: bold;
    text-decoration: none;
    line-height: 75px;
    @media screen and (min-width: 700px) {
      line-height: 90px;
    }
  }

  .nav-list .nav-link {
    @media screen and (max-width: 700px) {
      line-height: normal;
      padding: .5em;
      padding-left: 1em;
      display: block;
    }
  }

  &-logo {
    text-decoration: none;
    font-size: 20px;
    &__icon {
      vertical-align: middle;
      color: $brand-color;
    }
    &__text {
      font-weight: bold;
      vertical-align: middle;
      color: white;
      font-size: 22px;
    }
  }

  &-toggler {
    color: white;
    float: right;
    line-height: 75px;
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
    @media screen and (min-width: 700px) {
      display: none;
    }
  }

}
