.form-container {
  padding: 2em;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	background-color: black;
	border-radius: 5px;
  max-width: 500px;
}

.form-input {
  display: block;
  margin-bottom: 17px;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  border: 3px solid;

  &:focus {
    outline: none;
    border-color: red;
  }
}

.form-heading {
  color: white;
}

.form-input--submit {
  background-color: $brand-color;
  color: white;
  transition: .3s;
  border: none;
  font-weight: bold;
  margin-top: 2em;

  &:hover {
    cursor: pointer;
    background-color: darken($brand-color, 10%);
  }
}
