<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
    <main>
      <div class="cast-member-card__image">
    <img src="<%= 'https://image.tmdb.org/t/p/w500' + cast_member.profile_path %>" alt="<% cast_member.name %>">
  </div>
  <p class="cast-member-card__name"><%= cast_member.name %></p>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
