<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
    <main>
      <div class="container">
        <section class="section">
          <h2 class="section__title">Cinema</h2>

          <% if (results) { %>
            
            <% results.forEach( media => { %>

              <%- include('../partials/media-thumbnail', {
                media: media,
                mediaType: "movie",
              }) %>

            <% }) %>

          <% } %>
        </section>
      </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
