<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <section>
          <h2 class="sectiontitle">Favourite Movies</h2>
          <ul class="u-clearfix">
          <% if (favouriteMovies) { %>

            <% favouriteMovies.forEach(function (media) { %>

              <%- include('../partials/media-thumbnail', {
                media: media,
                mediaType: "movie",
              }) %>

            <% }) %>
            
          <% } %>
          </ul>
        </section>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
