<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">

        <% if (dashboard_page === "watchlist") { %>

          <section class="section">

            <% movies.forEach(function(movie) { %>

            <% }) %>

          </section>

        <% } else if (dashboard_page === "favourites") { %>

          <section class="section">

            <% movies.forEach(function(movie) { %>
              <%- include('../partials/media-thumbnail', {
                media: movie,
                mediaType: "tv"
              }) %>
            <% }) %>

          </section>

        <% } else if (dashboard_page === "recomended") { %>

          <section class="section">

            <% movies.forEach(function(movie) { %>

            <% }) %>

          </section>

        <% } %>

      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
