<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <div class="dashboard">
          <div class="dashboard__sidebar">
            <nav class="dashboard__nav">
              <a class="dashboard-nav__link" href="/dashboard/watchlist">Watchlist</a>
              <a class="dashboard-nav__link" href="/dashboard/favourite">Favourites</a>
            </nav>
          </div>
          <div class="dashboard__content">

            <% if (dashboard_page === "watchlist") { %>

              <section class="">

                <% movies.forEach(function(movie) { %>

                <% }) %>

              </section>

            <% } else if (dashboard_page === "favourites") { %>

              <section class="">
                <div class="u-clearfix">
                <% movies.forEach(function(movie) { %>
                  <%- include('../partials/media-thumbnail', {
                    media: movie,
                    mediaType: "tv"
                  }) %>
                <% }) %>
                </div>
              </section>

            <% } %>

          </div>
        </div>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
