<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <section class="section">
          <h2 class="section__title">Popular</h2>
            <ul class="u-clearfix">
            <% if (popularMovies) { %>
                
              <% popularMovies.filter((m,i) => i < 10).forEach( media => { %>

                <%- include('../partials/media-thumbnail', {
                  media: media,
                  mediaType: "movie",
                }) %>

              <% }) %>

            <% } %>
            </ul>
        </section>

        <section class="section">
          <h2 class="section__title">Lastest</h2>
          <ul class="u-clearfix">

          </ul>
        </section>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
