<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
      <div class="masthead">
        <form class="search-form" action="/search" method="post">
          <input class="search-input" type="text" name="query" autofocus placeholder="Search for a Movie...">
          <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </header>
      <main class="container">
        <div id="search-results"></div>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
