<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
      <div class="masthead">
        <form class="search" action="index.html" method="post">
          <input class="search-input" type="text" name="" autofocus placeholder="Search for a Movie...">
        </form>
      </div>
    </header>
      <main>

        <div id="search-results"></div>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
