<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <section>
          <h2 class="sectiontitle">Popular</h2>
            <ul>
            <% for(var i = 0 ; i < popularMovies.length ; i++) { %>
              <li><%- include('../partials/media-thumbnail', {
                medai: "",
                url: "",
                img_url: "",
                title: "",
                rating: "",
                year_released: ""
              }); %></li>
            <% } %>
            </ul>
        </section>
        <section>
          <h2 class="sectiontitle">Lastest</h2>
          <ul>
          <% for(var i = 0 ; i < latestMovies.length ; i++) { %>
            <li><%- include('../partials/media-thumbnail', {
              medai: "",
              url: "",
              img_url: "",
              title: "",
              rating: "",
              year_released: ""
            }); %></li>
          <% } %>
          </ul>
        </section>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
