<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main>
        <div id="search-results"></div>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
