<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <section>
          <h2 class="sectiontitle">Popular</h2>
        </section>
        <section>
          <h2 class="sectiontitle">Lastest</h2>
        </section>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
