<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main>
        <% if (locals.error) { %>
        <h2><%= error %></h2>
        <% } %>
        <form action="/register" method="post">
          <input type="text" name="name" value="" placeholder="Name">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <button type="submit" >Sign in</button>
        </form>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
