<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <% if (locals.error) { %>
        <h2 class="flash--error"><%= error %></h2>
        <% } %>
        <div class="form-container">
        <h2 class="form-heading">Login</h2>
        <form class="form" action="/login" method="post">
          <!-- <input class="form-input" type="text" name="name" value="" placeholder="Name *"> -->
          <!-- <input class="form-input" type="text" name="email" value="" placeholder="email *"> -->
          <input class="form-input" type="text" name="username" value="" placeholder="Username *">
          <input class="form-input" type="password" name="password" placeholder="Password *">
          <button class="form-input form-input--submit" type="submit" >Sign in</button>
        </form>
        </div>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
