<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <% include ../partials/flash-message %>
        <div class="form-container">
          <h2 class="form-heading">Register</h2>
          <form class="form" action="/register" method="POST">
            <input class="form-input" type="text" placeholder="  Username *" name="username" required>
            <input class="form-input" type="email" placeholder="  Email *" name="email" required>
            <input class="form-input" type="password" placeholder="  Password *" name="password" required>
            <input class="form-input" type="password" placeholder="  Confirm Password *" name="confirm-password" required>
            <input class="form-input form-input--submit" type="submit" value="Sign Up">
          </form>
        </div>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
