<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <% if (locals.error) { %>
        <h2><%= error %></h2>
        <% } %>
        <h2>Register</h2>
        <form class="">
          
        </form>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
