<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
    <main class="container">
      <div class="search-results">
        <% if (results.length > 0 ) {%>

          <% results.forEach(function(media) {%>

            <%- include('../partials/media-thumbnail', {
              medai: "",
              url: "",
              img_url: "https://image.tmdb.org/t/p/w500/" + media.poster_path,
              title: media.title,
              rating: media.vote_average / 2,
              year_released: parseInt(media.release_date)
            }); %>

          <%}) %>

        <%} else {%>
          <p>No results found</p>
        <%}%>
      </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
