<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
    <main class="container">
      <div class="section">
        <% if (results.length > 0 ) {%>

          <% results.forEach(function(media) { %>

            <% if (media) { %>

              <% if (media.media_type === 'person' ) { %>

                <%- include('../partials/cast-member', {
                  cast_member: media,
                }); %>

              <% } else { %>

                <%- include('../partials/media-thumbnail', {
                  mediaType: media.hasOwnProperty('title') ? "movie" : "tv",
                  media: media
                }); %>

                <% } %>
                
              <% } %>

            <%}) %>

        <%} else {%>
          <h2 class="u-text-center">No results found</p>
        <%}%>
      </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
