@each $color, $value in $colors {

  .#{$color} {
    background-color: $value;
  }

  .#{$color}-text {
    color: $value;
  }

  .#{$color}-border {
    border: 1px solid $value;
  }

  @if $color != "white" {
    .#{$color}--light {
      background-color: lighten($value, 20%);
    }
    .#{$color}-text--light {
      color: lighten($value, 20%);
    }
    .#{$color}border--light {
      border: 1px solid lighten($value, 20%);
    }
  }

  @if $color != "black" {
    .#{$color}--dark {
      background-color: darken($value, 20%);
    }
    .#{$color}-text--dark {
      color: darken($value, 20%);
    }
    .#{$color}-border--dark {
      border: 1px solid darken($value, 20%);
    }
  }

}
