// Font Styles
//------------------------------------------------------------------------------

$font-size: 16px;
$font-family: "Nunito", "Helvetica", "Tahoma", "Verdana", sans-serif;
$line-height: 1.5;
$text-size: 1em;

// Container
//------------------------------------------------------------------------------

$container-max-width: 90%;
$container-width: 1500px;


// Colors
//------------------------------------------------------------------------------

$colors: (
  "primary-color": #35D7BB,
  "lightgray": #f5f5f5,
  "red": #E74C3C,
  "green": #2ECC71,
  "blue": #0366d6,
  "white": #fff,
  "black": #000,
  "gray": #808080,
  "brightgray": #373D49,
  "radical-red": #FF3366,
);

$brand-color: crimson;
$brand-color: darken(crimson, 5%);
$primary-color: #1d2733;
$body-color: white;
$body-bg-color: lighten($primary-color, 5%);
$text-color: #2e2e2e;
$link-color: #0366d6;
$success-color: #5cb85c;
$error-color: #cc0000;

// Spacing
//------------------------------------------------------------------------------

$margin: 1em;
$padding: 1em;

// Media Queries
//------------------------------------------------------------------------------
$mq-small: "screen and (min-width: 350px)";
$mq-medium: "screen and (min-width: 700px)";
$mq-large: "screen and (min-width: 1000px)";
$mq: $mq-medium;
// Usage:
// @media #{$mq-small} {
//
// }
